player-connection-mode=Connect
player-connection-guid=3306012179
player-connection-debug=0
player-connection-project-name=Catlike Coding Lession
player-connection-wait-timeout=-1
player-connection-ip=192.168.0.102
profiler-enable=1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=7a1f4902f87942ba87e04d86c73be733
